<html>

<head>
	<title>Register - Employee</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/styles/master.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/employeeDetail.js" defer></script>
</head>

<body>

	<nav class="navbar navbar-light bg-light">
		<span class="navbar-brand mb-0 h1">Titans Merchant Software</span>
		<a class="form-inline my-2 my-lg-0 btn btn-secondary<% if (locals.isInitialEmployee) { %>hidden<% } %>" href="./mainMenu" role="button" aria-pressed="true">Home</a>
	</nav>

	<div class="header">
		<h1 class="primary-message">Employee Detail</h1>
	</div>

	<div id="main" class="main">
		<div id="error" <% if (!locals.errorMessage || (locals.errorMessage === "")) { %> class="hidden" <% } %>>
			<h4 id="errorMessage" class="error-message">
				<% if (locals.errorMessage && (locals.errorMessage !== "")) { %>
					<%= locals.errorMessage %>
				<% } %>
			</h4>
		</div>

		<div class="inputContent">
			<table id="employeeDetails">
				<tbody>
					<tr class="hidden">
						<td>ID:</td>
						<td>
							<input id="id" name="id" type="hidden" value="<% if (locals.employee && locals.employee.id) { %><%= locals.employee.id %><% } %>" />
						</td>
					</tr>
					<tr class="hidden">
						<td>Manager ID:</td>
						<td>
							<input id="managerId" name="managerId" type="hidden" value="<% if (locals.employee && locals.employee.managerId) { %><%= locals.employee.managerId %><% } %>" />
						</td>
					</tr>
					<tr <% if (!locals.employee || !locals.employee.id || (locals.employee.id.trim() === "")) { %>class="hidden"<% } %>>
						<td class="label">Employee ID:</td>
						<td>
							<input id="employeeId" name="employeeId" type="text" value="<% if (locals.employee && locals.employee.employeeId) { %><%= locals.employee.employeeId %><% } %>" class="update" disabled />
						</td>
					</tr>
					<tr>
						<td>First Name:</td>
						<td>
							<input id="firstName" name="firstName", type="text" value="<% if (locals.employee && locals.employee.firstName) { %><%= locals.employee.firstName %><% } %>"/>
						</td>
					</tr>
					<tr>
						<td>Last Name:</td>
						<td>
							<input id="lastName" name="lastName" type="text" value="<% if (locals.employee && locals.employee.lastName) { %><%= locals.employee.lastName %><% } %>"/>
						</td>
					</tr>
					<tr>
						<td>Password:</td>
						<td>
							<input id="password" name="password" type="text" value="<% if (locals.employee && locals.employee.password) { %><%= locals.employee.password %><% } %>"/>
						</td>
					</tr>
					<tr>
						<td>Confirm Password:</td>
						<td>
							<input id="confirmPassword" name="confirmPassword" type="text" value="<% if (locals.employee && locals.employee.confirmPassword) { %><%= locals.employee.confirmPassword %><% } %>"/>
						</td>
					</tr>
					<br>
					<tr>
						<td>
							<label for="employeeType">Employee Type:</label>
						</td>
						<td>
							<select id="employeeType" name="employeeType" class="form-control">
								<% if (!locals.isInitialEmployee) { %>
									<option value=101>Cashier</option>
									<option value=501>Shift Manager</option>
								<% } %>
								<option value=701>General Manager</option>
							</select><br>
						</td>
					</tr>
					<tr>
						<td>
							<button type="submit" id="employeeSave" class="btn btn-primary">Submit</button>
						</td>
					</tr>

				</tbody>
			</table>
		</div>



		<!-- TODO: An action element to initiate a save -->

		<div id="employeeSavedAlertModal" class="modal animate-opacity-show">
			<div class="modal-content">
				<div class="container gray-blue">
					<h1>
						<span>Employee</span><br />
						<span>Saved</span>
					</h1>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>
